﻿@model Cloud9.Models.Plane

@{
    ViewData["Title"] = "Buy";
}

<h1>Buy</h1>

<h4>Plane</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.type.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.range)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.range)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.seatMap.numSeats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.seatMap.numSeats)
        </dd>
    </dl>
    <form asp-action="Buy">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Buy" class="btn btn-success" style="margin-right: 5%" />
        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
