﻿@model Cloud9.Models.Plane

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Plane</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="color" class="control-label"></label>
                <input asp-for="color" class="form-control" />
                <span asp-validation-for="color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="typeID" class="control-label"></label>
                <select asp-for="typeID" class="form-control" asp-items="ViewBag.typeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="range" class="control-label"></label>
                <input asp-for="range" class="form-control" />
                <span asp-validation-for="range" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="seatMapId" class="control-label">seats</label>
                <input asp-for="seatMapId" class="form-control" />
                <span asp-validation-for="seatMapId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary-outline" />
            </div>
        </form>
    </div>
</div>

<div>
    <a type="button" class="btn btn-outline-primary"  asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
