﻿@model Cloud9.Models.Plane

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Plane</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="color" class="control-label"></label>
                <input asp-for="color" class="form-control" />
                <span asp-validation-for="color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="typeID" class="control-label"></label>
                <select asp-for="typeID" class="form-control" asp-items="ViewBag.typeID"></select>
                <span asp-validation-for="typeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="range" class="control-label"></label>
                <input asp-for="range" class="form-control" />
                <span asp-validation-for="range" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Seats</label>
                <select asp-for="seatMapId" class="form-control">
                    @foreach (var seatMap in ViewBag.SeatMap)
                    {
                        <option value="@seatMap.Value">@seatMap.Text</option>
                    }
                </select>
                <span asp-validation-for="seatMapId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
