﻿@model IEnumerable<Cloud9.Models.Plane>

@{
    ViewData["Title"] = "Index";
}


<html>
<head>
    <link rel="stylesheet" href="~/css/planes.css" />
    <link href=”//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css” rel=”stylesheet”>
</head>

<body>
    @if (Context.User.IsInRole("True"))
    {
        <a type="button" class="btn btn-primary create-new-plane" asp-action="Create">Create New Plane</a>
    }
        <form class="form-inline">
            <div class="form-group mb-2">
                <label for="searchType" class="sr-only">Type</label>
                <input type="text" class="form-control" id="searchType" placeholder="Type">
            </div>

            <div class="form-group mb-2">
                <label for="searchPrice" class="sr-only">Price</label>
                <input type="number" class="form-control" id="searchPrice" placeholder="Price">
            </div>

            <div class="form-group mb-2">
                <label for="searchColor" class="sr-only">Color</label>
                <input type="text" class="form-control" id="searchColor" placeholder="Color">
            </div>

            <button type="button" class="btn btn-primary mb-2" onclick="searchPlanes()">Search</button>
        </form>



        <div class="row" id="planesControl">
            @foreach (var item in Model)
            {
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                      
                       <img class="card-img-top" src=@Html.DisplayFor(modelItem => item.type.imageUrl) alt="Card image cap">
                       
                        <div class="card-body">
                            <h5 class="card-title">
                                @Html.DisplayFor(modelItem => item.type.name)
                            </h5>
                        </div>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                <b>
                                    @Html.DisplayNameFor(modelItem => item.color):
                                </b>
                                @Html.DisplayFor(modelItem => item.color)
                            </li>

                            <li class="list-group-item">
                                <b> @Html.DisplayNameFor(modelItem => item.price): </b>
                                @Html.DisplayFor(modelItem => item.price)

                            </li>
                            <li class="list-group-item">
                                <b> seats: </b>
                                @Html.DisplayFor(modelItem => item.seatMap.numSeats)
                            </li>
                        </ul>
                        <div class="card-body">
                            @if (Context.User.IsInRole("True"))
                            {
                                <span style="display: flex">
                                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-warning">
                                        Edit <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                        </svg>
                                    </a> &nbsp;
                                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-outline-danger">
                                        Delete <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                        </svg>
                                    </a>&nbsp;
                                </span>
                            }
                            <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-primary">
                                Details <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                                </svg>
                            </a> &nbsp;
                            <a asp-action="Buy" asp-route-id="@item.ID" class="btn btn-outline-success">
                                Buy <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z" />
                                </svg>
                            </a>&nbsp;
                        </div>
                    </div>
                </div>
            }
        </div>

        <script src="~/js/planes/index.js"></script>

    </body>
</html>
