﻿@model Cloud9.Models.User

@{ ViewData["Title"] = "AccessDenied"; }

<h1>Oops!!!!!</h1>
<h2>You are not authorized to access this page.</h2>

<a asp-action="Logout">Click here</a> to signin using a different user
