﻿@model Cloud9.Models.User


@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}


<html>
<head>
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>
    <div class="container rootContainer">
        <div class="row">
            <div class="col-7"></div>
            <div class="col-5">
                <div class="login align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h3 class="login-heading mb-4">Welcome back To Cloud9!</h3>

                                <!-- Sign In Form -->
                                <form asp-action="Login">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group form-floating mb-3">
                                        <label asp-for="email" class="control-label" style="font-weight: bold">Email</label>
                                        <input asp-for="email" class="form-control" placeholder="name@example.com" />
                                        <span asp-validation-for="email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group form-floating mb-3">
                                        <label asp-for="password" class="control-label" style="font-weight: bold">Password</label>
                                        <input asp-for="password" class="form-control" placeholder="Password" />
                                        <i class="fa fa-building"></i>
                                        <span asp-validation-for="password" class="text-danger"></span>
                                    </div>

                                    <div class="d-grid">
                                        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-3"
                                                type="submit"
                                                value="Login">
                                            Sign in
                                        </button>
                                        <div class="text-center">
                                            Not registered? <a asp-action="Register">Click here</a> to register
                                        </div>
                                    </div>
                                </form>
@if (ViewBag.Error != null)
                            {
                                <div class="text-danger">Incorrect login credentials</div>
}
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>


@section Scripts {
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
