﻿@model Cloud9.Models.User

@{ ViewData["Title"] = "Create";
                Layout = "_LoginLayout"; }


<h1>Register a new user</h1>

<h3>User Details</h3>
<hr />
<div class="container" style="margin: 0 auto;">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="userID" class="control-label"></label>
                    <input asp-for="userID" class="form-control" />
                    <span asp-validation-for="userID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="name" class="control-label"></label>
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="email" class="control-label"></label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="password" class="control-label"></label>
                    <input asp-for="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </form>
            @if (ViewBag.Error != null)
            {
<div class="text-danger">@ViewBag.Error</div>            }
        </div>
    </div>



    <div>
        Already registered?<a asp-action="Login">Click here</a> to login
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
