﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cloud9</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="~/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="~/css/home.css" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 nav-color">
            <div class="container">
                <a class="navbar-brand white" asp-area="" asp-controller="Home" asp-action="Index">Cloud9</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark white" asp-area="" asp-controller="Plane" asp-action="Index">Planes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark white" asp-area="" asp-controller="Order" asp-action="Index">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark white" asp-area="" asp-controller="About" asp-action="Index">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark white" asp-area="" asp-controller="Contact" asp-action="Index">Contact us</a>
                    </li>
                    @if (Context.User.IsInRole("True"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark white" asp-area="" asp-controller="Statistics" asp-action="Index">Statistics</a>
                            </li>
            }
            else
            {

            }
                    <li class="nav-item">
                        <a class="nav-link text-dark white" asp-area="" asp-controller="Weather" asp-action="Index">Weather</a>
                    </li>
                    @if (Context.User.Claims != null && Context.User != null && Context.User.Claims.Count() > 0)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark white" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark white" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
                        </li>
                    }

                </ul>
            </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
