﻿﻿@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>
        <link rel="stylesheet" href="~/css/home.css" type="text/css" />
    </head>
    <body>
        <div>
            <div>
                <h1 class="text-center homeHeader white">Welcome To Cloud9</h1>
                <canvas id="icanvas" width="1369" height="200"></canvas>
                <script>
                    var imgTag = new Image();
                    var canvas = document.getElementById('icanvas');
                    var ctx = canvas.getContext("2d");
                    var x = canvas.width;
                    var y = 0;

                    imgTag.onload = animate;
                    imgTag.src = "/s"
                    imgTag.src = "../static/plane.png";   // load image

                    function animate() {
                        ctx.clearRect(0, 0, canvas.width, canvas.height);  // clear canvas
                        ctx.drawImage(imgTag, x, y);                       // draw image at current position
                        x -= 4;
                        if (x > 326) requestAnimationFrame(animate)        // loop
                    }
                </script>
                <p class="white text-center textBody">
                    Dreaming of being 100% free to travel the world? get your personal airliner today!<br />
                    Only buy your plane from a store you can trust.
                </p>
                <p class="lead text-center">
                    <a class="btn btn-primary btn-lg" asp-controller="About" asp-action="Index" role="button"><b>Learn More About Us</b></a>
                </p>
            </div>
            <br />
            <iframe 
                width="1080" 
                height="640" 
                src="https://www.youtube.com/embed/xOwvyAeVANQ" 
                title="Inside Cloud9's Newest Boeing 787 Dreamliner" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
            >
            </iframe>

        </div>
    </body>
</html>
