﻿
@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v11.0"
            nonce="e4e2UCSG"></script>
    <link rel="stylesheet" href="~/css/about/index.css" />

</head>
<body class="white">
    <h1>About us</h1>
    <div class="descriptionColumns" style="font-size: 22px">
        <div>
            We are one of the world's largest plane suppliers, as well as giant planeheads ourselves.
        </div>
        <div>
            We pride ourselves on delivering first class experiences and service to anybody looking for an addition to their plane collection.
        </div>
        <div>
            We stand by the values of quality and innovation.
        </div>
    </div>
    @*<iframe width="640" height="430"
                src="https://www.youtube.com/embed/TszIMD3549o">
        </iframe>*@

    <div class="facebookPluginContainer">
        <h3 class="facebookText">Don't forget to like us on facebook!</h3>
    </div>
    <div class="fb-page facebookPlugin"
         data-href="https://www.facebook.com/%D7%99%D7%A9%D7%A8%D7%90%D7%9C-Cloud9-The-Place-To-Buy-Out-Planes-102766755436006" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
         data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/facebook"
                    class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/facebook">‏‎Facebook‎‏</a>
        </blockquote>
    </div>
</body>
</html>


