﻿@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/weather/index.css" />
</head>
<!-- Load d3.js -->
<body>
    <section class="top-banner">
        <div class="container">
            <span style="font-size: 18px" class="heading white">Planning a flight? Check the weather in a city of your choice!</span>
            <form id="weatherForm">
                <input id="weatherCityInput"
                       type="text" placeholder="Search for a city" style="margin-top: 2%" autofocus class="white">
                <button type="submit" class="submitButton">SUBMIT</button>
                <span class="msg" id="weatherMessage"></span>
            </form>
        </div>
    </section>
    <section class="ajax-section">
        <div class="container">
            <ul class="cities" id="weatherCities"></ul>
        </div>
    </section>
    <script src="~/js/weather/index.js"></script>

</body>