﻿.descriptionColumns {
    column-count: 3;
    column-gap: 40px;
    column-rule: 1px solid lightblue;
}

h2 {
    column-span: all;
}

.facebookPluginContainer {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.facebookPlugin {
    width: 100%;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: AlegreyaFont   ;
    src: url('../../static/fonts/Alegreya-Bold.ttf');
}

.facebookText {
    text-shadow: 2px 2px #53627c;
    font-family: AlegreyaFont;
}