﻿.homeHeader {
    font-size: 76px;
    padding-bottom: 2vh;
    font-weight: bold;
}

.textBody {
    font-size: 26px;
    font-weight: bold;
}

.white {
    color: white !important;
    text-shadow: .1em .1em .3em black !important;
}
