﻿body {
    background-image: url('/static/clouds_background.jpg') !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-color {
    background-color: transparent !important;
    /*background-image: url('/static/clouds_background.jpg') !important;*/
    border-bottom: 0 !important;
}
