﻿﻿.login {
    min-height: 100vh;
}

.rootContainer {
    padding-top: 35vh !important;
}

.login-heading {
    font-weight: bold;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

html {
    font-family: 'Segoe UI' !important;
}

body {
    background-image: url('/static/cloud9_login_background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
