﻿.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin: 1em;
    width: 18rem;
}

.card-img-top {
    background-image: url('https://images.unsplash.com/photo-1558285549-2a06f9a5fe65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80'); 
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.create-new-plane{
    margin-bottom:10px;
}

.searchchInput {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}