﻿@model Cloud9.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1 class="white">Create</h1>

<h4 class="white">Order</h4>
<hr />
<div class="row white">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userID" class="control-label"></label>
                <input asp-for="userID" class="form-control" />
                <span asp-validation-for="userID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="purchasedAt" class="control-label"></label>
                <input asp-for="purchasedAt" class="form-control" />
                <span asp-validation-for="purchasedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="planes" class="control-label"></label>
                <select asp-for="planes" class="form-control" asp-items="ViewBag.planes"></select>
                <span asp-validation-for="planes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
