﻿@model Cloud9.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h1 class="white">Delete</h1>

<h3 class="white">Are you sure you want to delete this?</h3>
<div>
    <h4 class="white">Order</h4>
    <hr />
    <dl class="row white">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.user)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.user.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.purchasedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.purchasedAt)
        </dd>
        <dt class="col-sm-2">
            Planes
        </dt>
        <dd class="col-sm-10">
            @foreach (Plane plane in Model.planes)
            {
                <div>@plane.type.name</div>

            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.ID" class="btn btn-primary">
            Back To List <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
            </svg>
        </a> &nbsp;
    </form>
</div>
