﻿@model Cloud9.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h1 class="white">Edit</h1>

<h4 class="white">Order</h4>
<hr />
<div class="row white">
    <script src="~/js/order.js"></script>
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-2">
                Current planes
            </dt>
            <dd class="col-sm-10">
                @foreach (Plane plane in Model.planes)
                {
                    <div>@plane.type.name</div>

                }
            </dd>
        </dl>
        <form asp-action="Edit" asp-for="planeId">
            <div class="form-group">
                <label asp-for="planes" class="control-label"></label>
                <select asp-for="planes" multiple class="form-control">
                    @foreach (var planeOption in ViewBag.Planes)
            {
                    <option value="@planeOption.Value" selected="@planeOption.Selected">@planeOption.Text</option>
            }
                </select>
                <span asp-validation-for="planes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a><input onclick="updateOrderedPlanes()" type="submit" value="Save" class="btn btn-success" /></a>
            </div>
            <div id="orderNum" style="visibility: hidden">@Model.ID</div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
