﻿@model IEnumerable<Cloud9.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1 class="white">Orders</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th class="tableText white">
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th class="tableText white">
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th class="tableText white">
                @Html.DisplayNameFor(model => model.purchasedAt)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.planes)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="tableText white">
                <div class="tableText white">
                    @Html.DisplayFor(modelItem => item.ID)
                </div>
            </td>
            <td class="tableText white">
                @Html.DisplayFor(modelItem => item.user.name)
            </td>
            <td class="tableText white">
                @Html.DisplayFor(modelItem => item.purchasedAt)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.plane.color)&nbsp;@Html.DisplayFor(modelItem => item.plane.type.name)
            </td>*@
        <td>
            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">
                Edit <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                </svg>
            </a> |
            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">
                Delete <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                </svg>
            </a>
            <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">
                Details <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                </svg>
            </a>
        </td>
        </tr>
}
    </tbody>
</table>
