﻿@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>

</head>
<!-- Load d3.js -->
<body>
    <!-- Load d3.js & color scale -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <h3 id="graphLabel"></h3>

    <!-- Create a div where the graph will take place -->
    <div id="my_dataviz"></div>
    <script src="~/js/statistics/index.js"></script>
</body>