﻿
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    <!-- Reference to the Bing Maps SDK -->
    <script type='text/javascript'
            src='https://www.bing.com/api/maps/mapcontrol?key=AuD9yaxa5R-sYDP-5czSRLn8Ys61YVFpGUnK798YKsfQGEy-eC-Y1ebPhoTzbWqS'
            async defer></script>
    <script src="~/js/map/index.js"></script>
</head>
<body onload='getData();'>
    <div id="myMap" style="position:relative;width:1080px;height:720px;"></div>
</body>
</html>